API_KEY=
PORT=
JWT_SECRET=

DATABASE_TYPE=
DATABASE_DB_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_HOST=
DATABASE_LOGGING=
DATABASE_ENTITIES=

DATABASE_MIGRATIONS=
DATABASE_MIGRATIONS_DIR=