PORT=
JWT_SECRET=
CSRF_KEY=

ALLOWED_ORIGINS=

DATABASE_TYPE=
DATABASE_DB_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_HOST=
DATABASE_LOGGING=

DATABASE_MIGRATIONS=
DATABASE_MIGRATIONS_DIR=