NODE_ENV=
API_KEY=
PORT=
JWT_SECRET=

SSL_ENABLED=
SSL_KEY_PATH=
SSL_CERT_PATH=

ALLOWED_ORIGINS=

DATABASE_TYPE=
DATABASE_DB_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_HOST=
DATABASE_LOGGING=
DATABASE_ENTITIES=

DATABASE_MIGRATIONS=
DATABASE_MIGRATIONS_DIR=